.parents{
    border: 2px solid green;
    height: 700px;
    display: flex;
    align-items: center; 
}
.one{
    height: 150px;
    width: 150px;
}

#one{
    background-color: red;
    flex-shrink: 2;
    flex-grow: 1;
}
#two{
    background-color: black;
    flex-shrink: 4;
    flex-grow: 4;
}
#three{
    background-color: green;
    flex-grow: 2;
}
#four{
    background-color: cyan;
    
}
